body {
    font-family: Arial, sans-serif;
    background-color: #006F80; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fondo.jpg'); 
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #006F80;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #006F80;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #004e5f;
}

a {
    color: #006F80;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}


.logo {
    width: 150px; 
    margin-bottom: -10px;
}
.error {
    color: red;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.success {
    color: green;
    font-weight: bold;
    background-color: rgba(0, 255, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
